<!DOCTYPE html>
<html lang="en">

<head>
  <base href="{{base}}">
  <meta http-equiv="Content-type"
    content="text/html;charset=UTF-8">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; img-src *; style-src 'self'; script-src 'nonce-{{nonce}}';">
  <link rel="stylesheet"
    href="file://{{css}}" />
</head>

<body>
  <table class="dependencies">
    <caption class="caption">
      <menu>
        <a id="install"
          role="button"
          tabindex="0">Install Updated</a>
      </menu>
      <legend>
        <span class="legend current">Installed</span>
        <span class="legend old">Outdated</span>
        <span class="legend latest">Latest</span>
      </legend>
    </caption>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {{#each dependencies}}
    <tr class="dependency"
      tabindex="0"
      data-dependency="{{name}}">
      <td class="type-column">
        <span class="type {{lowercase (dep-type type)}}"
          title="Click to switch from {{dep-type type true}}">{{dep-type type}}</span>
      </td>
      <td class="name">{{name}}</td>
      <td class="version-column">
        {{#if (dep-latest this)}}
        <span class="version current"
          title="{{version}}">{{version}}</span>
        {{else}}
        <span class="version old"
          title="{{version}}">{{version}}</span>
        <span class="version latest"
          title="{{version}}">{{latest}}</span>
        {{/if}}
      </td>
    </tr>
    <tr class="dependency-extra">
      <td colspan="4">
        <span class="type prod"
          title="Click to switch to production dependency">prod</span>
        <span class="type dev"
          title="Click to switch to development dependency">dev</span>
        <span class="type peer"
          title="Click to switch to peer dependency">peer</span>
        <span class="type opt"
          title="Click to switch to optional dependency">opt</span>
      </td>
    </tr>
    {{/each}}
  </table>

  <script async
    src="file://{{javascript}}"
    nonce="{{nonce}}"></script>

</body>

</html>
