<!DOCTYPE html>
<html lang="en">

<head>
  <base href="{{base}}">
  <meta http-equiv="Content-type"
    content="text/html;charset=UTF-8">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; img-src *; style-src 'self'; script-src 'nonce-{{nonce}}';">
  <link rel="stylesheet"
    href="file://{{style}}" />
</head>

<body>
  <table class="dependencies">
    <caption class="legend-caption">
      <span class="legend old">Outdated</span>
      <span class="legend current">Up-to-date</span>
      <span class="legend latest">Latest</span>
    </caption>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {{#each dependencies}}
    <tr class="dependency"
      data-dependency="{{this}}">
      <td class="type-column">
        <span class="type {{lowercase (dep-type type)}}"
          title="Click to switch from {{dep-type type true}} to {{dep-type type true}}">{{dep-type type}}</span>
      </td>
      <td class="name">{{name}}</td>
      <td class="version-column">
        {{#if (dep-latest this)}}
        <span class="version current"
          title="{{version}}">{{version}}</span>
        {{else}}
        <span class="version old"
          title="{{version}}">{{version}}</span>
        <span class="version latest"
          title="{{version}}">{{latest}}</span>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </table>

  <script async
    src="file://{{script}}"
    nonce="{{nonce}}"></script>

</body>

</html>
