<!DOCTYPE html>
<html lang="en">

<head>
  <base href="{{base}}">
  <meta http-equiv="Content-type"
    content="text/html;charset=UTF-8">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; img-src *; style-src 'self'; script-src 'nonce-{{nonce}}';">
  <link rel="stylesheet"
    href="file://{{style}}" />
</head>

<body>

  <h3>Dependencies</h3>
  {{#each package.dependencies as |version name|}}
  <li class="dependency">{{name}}
    <span class="version">{{version}}</span>
  </li>
  {{/each}}

  <hr />

  <h3>Development dependencies</h3>
  {{#each package.devDependencies as |version name|}}
  <li class="dependency">{{name}}
    <span class="version">{{version}}</span>
  </li>
  {{/each}}

  <script async
    src="file://{{script}}"
    nonce="{{nonce}}"></script>

</body>

</html>
